@import "base.css";

html{height: 100%}
body{height: 100%}
.home{height:100%; position: relative;}


/* main */
.home-main{
	position:absolute; 
	bottom:0; 
	right: 0;
	padding: 0 30px 30px 0;
	text-align: right;
	z-index: 1000;
}

.home-main h1{font-size: 300%;}
.home-main .nav{}
.home-main .link{
	text-decoration: none;
	color:#666;
	font-weight: bold;
	font-size: 16px;
	margin-left: 10px;
}

/*colors*/

.colors{
	height: 100%;
	background-color: red;
}

.colors article{ position: relative;}
.colors h2{position: absolute; color: #fff; left:15%; top:20%;}
.colors .color-tit{font-size: 400%; width: 100px; }


















