@import "base.css";
/*@import "syntax.css";*/
@import "markdown.css";


/* common */
/* ----------------------------------------------------------*/

/*::-moz-selection { color: #fff;  background: rgba(170,13,67,.1); }
::selection      { color: #fff;  background: rgba(170,13,67,.1); } */

body{
  /*border-top: 5px solid #38342b;*/
  border:0;
  background-color: #fdfdfd;
  color: #666;
  font-family: "Lora","STSong","NSimSun",serif;
}
a, a:link, a:visited {
  color: #d73b25;
  text-decoration: none;
  /*border-bottom: 1px dotted #800;*/
}

.header, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #333;
}

.wrap{
  width: 700px;
  margin: 0 auto;
}

/* Site*/
/* ----------------------------------------------------------*/

/* site-bg */
.site-bg{
  position: fixed;
  z-index: -1;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
}
.blur { 
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(50px); /* Chrome, Opera */
       -moz-filter: blur(50px);
        -ms-filter: blur(50px);    
            filter: blur(50px);
     -webkit-filter:brightness(.3);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.site-bg img{
  display: block;
  height: 100%;
  width: 100%;
}


/* Site header */

.site-header {
  padding: 30px 0;
  text-align: center;
  margin: 0;
}

.site-title,
.site-title:hover,
.site-title:visited {
  color: #000;
  font-size: 40px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

/* Site footer */

.site-footer .wrap{
  margin-top: 30px;
  font-size: 14px;
  /*border-top: 1px solid rgba(0,0,0,0.2);*/
  text-align: right;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
}

.posts-list { 
  list-style-type: none;
  padding: 0;
}

.posts-list li { 
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.posts-list .post-link {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 4px;
  text-decoration: none;
  display: block;
  color: rgb(55, 62, 75);
}

.posts-list .post-date {
  font-size: 14px;
  color: #aaa;
  margin: 0;
  margin-bottom: 4px;
  font-style: italic;
}

/* page */
/* --------------------------------------------------------- */
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
}


/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {
  .wrap { width: 85%; }
}

@media screen and (max-width: 600px) {

  .wrap { width: 85%; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }
  
}